.jumbotron {
    margin-bottom: 2rem;
    min-height: 325px;
    color: rgb(0, 115, 140);
    background-image: url("../../assets/little-girl-hospital.jpg");
    background-size: cover;
    border-bottom: 2px solid #75B9BE;
}