


.toolbarFormatting {
    font-size: 20px;
    padding: 0px 10px;
    color: #F975F7;
    font-weight: bold;
}

.toolbarFormatting:hover {
    color: #0064d6;
    text-decoration: none;
    font-weight: bold;
}