


.toolbarFormatting {
    font-size: 20px;
    padding: 0px 10px;
    color: #CAD461;
    font-weight: bold;
}

.toolbarFormatting:hover {
    color: #75B9BE;
    text-decoration: none;
    font-weight: bold;
}