.listItem {
    text-decoration: none;
    font-size: 16px;
    color: #75B9BE;
    font-weight: bold;
    cursor: pointer;
}

.listItem:hover{ 
    color: white;
    font-weight: bold;
    text-decoration: none;
    background-color: #75B9BE;
}

.leftbox { 
    float:left;  
    width:75%; 
} 

.rightbox { 
    float:right;  
    width:25%; 
} 